a.link {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  /* border: 2px solid cornflowerblue; */
  padding: 5px 10px;
  margin: 0 5px;
  /* display: inline-block; */
  /* border-radius: 3px; */
  float: right;
  margin: 8px;
}

a.help {
  color: cornflowerblue;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
}

.create_expense_container {
  /* background-color: white;
  color: white; */
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-control {
  width: 300px;
}

.login-form {
  width: 450px;
  border: 1px solid grey;
  box-shadow: 5px 5px 5px 5px;
  padding: 5% 6%;
  text-align: center;
}
.text-center {
  padding-top: 2%;
}

.create_expense_container {
  background-color: rgb(0, 0, 0);
}

label {
  font-weight: bold;
  color: white;
  padding-top: 1.5%;
}

.leaderboardTable {
  padding-right: 10%;
}
.leaderboardTable thead {
  background-color: rgb(61, 59, 59);
  color: white;
}
/* thead th {
  width: 5px;
} */
